<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BukkitUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <BukkitUI.Properties.Settings>
      <setting name="autoStartServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoRebootServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="serverRebootInterval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="checkForUpdates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkForUpdatesOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkForUpdatesOnShutdown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkForUpdatesDuringRuntime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="extendDWMIntoClient" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="bukkit" serializeAs="String">
        <value />
      </setting>
      <setting name="bukkitDir" serializeAs="String">
        <value />
      </setting>
      <setting name="javaEXE" serializeAs="String">
        <value>n/a</value>
      </setting>
      <setting name="javaInitSizeInMegs" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="javaMaxSizeInMegs" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="useCustomHeapSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="serverAllocationMode" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="useColourStars" serializeAs="String">
        <value>True</value>
      </setting>
    </BukkitUI.Properties.Settings>
  </userSettings>
</configuration>