<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MetroBukkitUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MetroBukkitUI.Properties.Settings>
            <setting name="ignorePerformanceWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoStartServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableDynamicLoading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableWebServerOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="javaBinaryPath" serializeAs="String">
                <value>C:\Windows\System32\java.exe</value>
            </setting>
            <setting name="customJVMArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="javaInitHeap" serializeAs="String">
                <value>1024m</value>
            </setting>
            <setting name="javaMaxHeap" serializeAs="String">
                <value>2048m</value>
            </setting>
            <setting name="windowColour" serializeAs="String">
                <value>#41b1e1</value>
            </setting>
            <setting name="titleAllCaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bukkit_executable" serializeAs="String">
                <value />
            </setting>
            <setting name="bukkit_path" serializeAs="String">
                <value />
            </setting>
            <setting name="bukkit_args" serializeAs="String">
                <value>--nojline</value>
            </setting>
        </MetroBukkitUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
